body { overflow-y: scroll; }

#testnet { display: none;font-weight: bold; }
#menu { visibility: hidden;margin-bottom: 0; }
        
.englishjson { text-align: center; padding: 40px 0 20px 0; }
.englishjson textarea { width: 894px; }

.unittests { text-align: center; }
.unittests div { width: 894px; font-family: monospace; text-align: left; margin: auto; padding: 5px; border: 1px solid black; }

.tab-content { border: 1px solid #ddd; border-top: none; }

/* IE8 */
.qrcodetable { border-width: 0; border-style: none; border-color: #0000ff; border-collapse: collapse; }
.qrcodetddark { border-width: 0; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #000000; }
.qrcodetdlight { border-width: 0; border-style: none; border-color: #0000ff; border-collapse: collapse; padding: 0; margin: 0; width: 2px; height: 2px; background-color: #ffffff; }

.more { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMDIvMTLltnQyAAAB1UlEQVQ4jYWTS04bQRCGv3q0x8gMYJCwknCGLDgLVwiH4grhLFaUXdhkQ0A8pBg/FOLpnmbhMYzxRKlNS1Vdf/31V5XknGnb+eXJCBjzbzu9OLu+azu845Opysej4wHmshF4uJ2TUrb3CV0gIBAKRboC5C2vdkDE9fdty6/xDegvXz+NgDbFUejZ+PjDgExmtpxS9vYwMe5u5iyX8RRoa5Ic+C4qx9KUN1MGu4E618yqJ5axAp44KA7ZL3eYzp/HKdVIw7WK8d6BuDvcod9TQlBEIOXEdPlElSoUJabIIs4Z7h9yNDwgqOMayLXw7epHVIBggrsgspZPUBQyiCgugRQji7TAVDF1XB2TlQoOYCqovkmpopS9fcoiM3ue0rOCYf8IU8NklWxiiOQ3EPXtWagIqo6KYWYEc4IGvMViA6RrnCJKVS9B8ypRHG1YKNa0Ur+C+MPt/I2BKWVZUO4FgvQ47PcptEDF+T2Z8TiZUMWIyGtpd+Bze5VTSqP57O/4YG+AN/RXbSiPkwmL5z/be/L+mM4vT2JKeUW7EXD1erMz/Lo4u77f0K9DDhdA1XG11jh9vWBb99Z9gAg5QZ2hzpmUa0RSW4f/gqSY0s3Vz+tufEjvHS8Tg6BXC7qVbQAAAABJRU5ErkJggg==) no-repeat left center; width: 17px; height: 17px; display: inline-block; float: right; }
.less { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMDIvMTLltnQyAAABuklEQVQ4ja2US25TQRBFT336OSEY5ESyBfEakNiLt0AW5S2QvQQxAiZIYBwSz/yByH7dxcB2bPMME+hJS/W5fetWVUtE8K/HfzdcXfdfqsr4onuGuRz4Jrdzcg6Gg9HfQYAxAqmlSMMlQJO5/oliE4AtQLcR++btZQ+wPVsvVXbTfXFGEMyWU9rVM0yMu/Gc5bJ+DdztxWcH3otKVzbPmyq5LnwfzSgEBMxlhqJEBFWVKKUgG66rur53oH7aOeWkUlJSRCBHZracssorlLXttHpCpzonaYukjmsiivDu08daAZIJ7oLIVg9BUQgQUVwSua5Z5AWmiqnj6pisVXAAU0F1J6WK0q6e024Fs4cplbXonFxgapisk00MkdiBqDd7oSKoOiqGmZHMSZrwPRYHIMfaKaKsyhI01oni6IaFYptSyiOIT27nOwaq5FyQrUAIC/nBhK+UErRSos55z4878CrneJyTnHOvquymf3mOb+hvy/jw+QuLh5/NORkORvsGrq77dc6xpr0RcH07y3oF8G04GN0f6HdEDhdA1XG1vXb6dsAa+3Z8AREiQwkoEeQoiBzocHDkf/wnvwC5IpRVsUDNUgAAAABJRU5ErkJggg==) no-repeat left center; width: 17px; height: 17px; display: inline-block; float: right; }
.right { text-align: right; }

.label { background-color: inherit;color: inherit;font-size: medium; font-weight: normal;-webkit-text-shadow: none; text-shadow: none;padding: 0; }
        
.commands { border-bottom: 1px solid #ddd;  padding: 10px 10px; }
.commands form { margin: 0; }
.commands .control-group { margin-right: 5px; }

.pubkeyhex { -ms-word-wrap: break-word; word-wrap: break-word; }
.faqs ol { padding: 0 0 0 25px; }
.faqs li { padding: 3px 0; }	

.keyarea { font-family: Courier New; padding: 5px;font-size: 16px;clear: both; }
.keyarea .label { text-decoration: underline; }
.keyarea .output { display: block; }
.keyarea .qrcode_public { display: inline-block; float: left; }
.keyarea .pubaddress { display: inline-block; padding: 0 0 0 10px; float: left; }
.keyarea .qrcode_private { display: inline-block; float: right; }
.keyarea .privwif { margin: 0; text-align: right; padding: 0 10px 0 0; float: right; }

#paperarea input[type="checkbox"] { margin: 0; }
#paperarea .keyarea { position: relative;}
#paperarea .keyarea.art { display: block; height: auto; border: 0; font-family: Ubuntu, Arial; padding: 0; margin: 0 0 4px 0; }
#paperarea .artwallet .papersvg { width: 486px; height: 261px; border: 0; margin: 0; padding: 0; left: 0; }
#paperarea .artwallet .qrcode_public {top: 52px; left: 17px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF; padding: 5px 5px 2px 5px;} 
#paperarea .artwallet .qrcode_private { top: 104px; left: 360px; z-index: 100; margin: 0; float: none; display: block; position: absolute; background-color: #FFFFFF; padding: 5px 5px 2px 5px; }
#paperarea .artwallet .btcaddress  
{
	position: absolute; top: 240px; left: 139px; z-index: 100; font-size: 10px; background-color: transparent;
	font-weight:bold; color: #000000; margin: 0;
		-webkit-transform-origin:top left; -webkit-transform:rotate(-90deg);
		-moz-transform-origin:top left;    -moz-transform:rotate(-90deg);
		-ms-transform-origin:top left;     -ms-transform:rotate(-90deg);
		-o-transform-origin:top left;      -o-transform:rotate(-90deg);
		transform-origin:top left;         transform:rotate(-90deg);
} 
#paperarea .artwallet .btcprivwif  
{
	position: absolute; top: 236px; left: 346px; z-index: 100; font-size: 7px; background-color: transparent;
	font-weight:bold; color: #000000; margin: 0;  
		-webkit-transform-origin:top left; -webkit-transform:rotate(-90deg);
		-moz-transform-origin:top left;    -moz-transform:rotate(-90deg);
		-ms-transform-origin:top left;     -ms-transform:rotate(-90deg);
		-o-transform-origin:top left;      -o-transform:rotate(-90deg);
		transform-origin:top left;         transform:rotate(-90deg);
}

#bulkarea .body { padding: 5px 0 10px 0;text-align: center; }
#bulkarea .format { font-style: italic; font-size: 90%; }
#bulktextarea { font-size: 90%; width: 96%; margin: 0 auto;display: block; }
.bulkquestion { padding: 10px 15px; text-align: left; cursor: pointer; }
.bulkquestion:hover, .expandable:hover { color: #77777A; }
.bulkanswer { padding: 0 15px 10px 25px; text-align: left; display: none; font-size: 90%; }
.bulkfaq { border: 0; border-top: 1px solid #ddd; }

#brainarea .commands { padding-bottom: 0; }
#brainarea .control-group { margin-bottom: 10px;}
#brainarea .controls button { margin-left: 20px; }
#brainarea .notes { font-size: 80%; }
#brainarea .keyarea { visibility: hidden; min-height: 82px; }

#detailkeyarea { padding: 10px; }
#detailarea .notes { font-size: 90%; padding: 0 0 20px 0; }
#detailarea .item { margin: 10px 0; position: relative; clear: both;  }
#detailarea .label { display: block; text-decoration: underline; }
#detailarea .output { display: block; min-height: 20px; }
#detailarea #detailqrcodepublic { position: relative; float: left; margin: 0 10px 0 0; }
#detailarea #detailqrcodepubliccomp { position: relative; float: right; margin: 0 0 0 10px; }
#detailarea #detailqrcodeprivate { position: relative; float: left; margin: 0 10px 0 0; }
#detailarea #detailqrcodeprivatecomp { position: relative; float: right; margin: 0 0 0 10px; }
        
#vanityarea .expandable { padding: 10px 15px; text-align: left; cursor: pointer; }
#vanityarea textarea { width: 70%;}
#vanityarea .label { text-decoration: underline; }
#vanityarea .output { display: block; }
#vanityarea .notes { text-align: left; font-size: 90%; padding: 0 0 20px 0; }
#vanitystep1area { display: none; text-align: left; position: relative; padding: 15px; border-bottom: 1px solid #ddd; }
#vanitystep1label { padding-left: 5px; }
#vanitystep2area { border-top: 1px solid #ddd; display: block; padding: 15px; }
#vanitystep2inputs { padding: 0 15px 10px 15px; }
#vanitycalc { margin-top: 5px; }
		
		
@media screen 	
{
	.pagebreak { height: 50px;clear: both; }
}

@media print
{
	#main { width: auto; }
    #main>h4  { display: none; }
	#culturemenu { display: none; }
    #menu { display: none; }
    .commands { display: none; }
    .tab-pane { display: none }
    .tab-pane.active { display: block }
    .tab-content { border: none; }
	.pagebreak { height: 1px; }
	.faqs { display: none; }
    textarea { border: none; }
}

#bulkwallet,
#brainwallet,
#vanitywallet,
#detailwallet { display: none; }